
body {
    font-family:sans-serif;

}

h1{
    text-align: left;
    background-color: #18567D;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #18567D;
    max-width:1500px;
}

li {
    float: left;
    font-size: 16px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;   
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: .8;
}

h2 {
    text-align: left;
    color: #18567D;
}

td {
    padding: 0px;
    text-align: left;
    width: 500px;
}

tr{
    padding: 0px;
    text-align: top;
    background-color:#FFFFFF
}

img:hover {
  opacity: .6;
}

img.transit-logo{
    max-width: 100%;
}